.App {
  text-align: center;
}

.header{
  padding: 30px 10px;
}
.input{
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  margin: 30px;
  border:0;
}

body.sunny {
  background: linear-gradient(to right, #d8cd33, #cbcbce);
}

body.rainy {
  background: linear-gradient(to right, #00bd9d, #cbcbce);
}

body.snowy {
  background: linear-gradient(to right, #1f97a7, #cbcbce);
}

body.clouds {
  background: linear-gradient(to right, #838381, #cbcbce);
}

body.default {
  background: linear-gradient(to right, #90caf9, #cbcbce);
}

header {
  background: #3f51b5;
  color: white;
  padding: 20px;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

.main-content {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.weather-card, .weather-mood, .personal-story {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex: 1;
  margin: 0 10px;
}

.weather-card h2, .weather-mood h2, .personal-story h2 {
  margin-top: 0;
}
