.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input{
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  margin: 20px;
}

body.sunny {
  background: linear-gradient(to right, #d8cd33, #cbcbce);
}

body.rainy {
  background: linear-gradient(to right, #00bd9d, #cbcbce);
}

body.snowy {
  background: linear-gradient(to right, #1f97a7, #cbcbce);
}

body.clouds {
  background: linear-gradient(to right, #838381, #cbcbce);
}

body.default {
  background: linear-gradient(to right, #90caf9, #cbcbce);
}

header {
  background: #3f51b5;
  color: white;
  padding: 20px;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

.main-content {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.weather-card, .weather-mood, .personal-story {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex: 1;
  margin: 0 10px;
}

.weather-card h2, .weather-mood h2, .personal-story h2 {
  margin-top: 0;
}
